// colors
$accentColor = #f22f27

$main-1 = #fff3f0;
$main-2 = #ffd4cc;
$main-3 = #ffafa3;
$main-4 = #ff887a;
$main-5 = #ff5d52;
$main-6 = #f22f27;
$main-7 = #cc1616;
$main-8 = #a60a0f;
$main-9 = #80010a;
$main-10 = #590009;

$textColor = #2c3e50
$darkTextColor = #000

$borderColor = rgba($darkTextColor,.05)
$darkBorderColor = $darkTextColor

$codeBgColor = $darkTextColor

$bgColor = #fff
$headerBgColor = #032541;

$footerBgColor = $darkTextColor
$footerColor = #828282

$newsletterBgColor = #f8f8f8

$postTagBgColor = #ededed;
$postTagColor = darken($postTagBgColor,50%)

$mediumZoomZIndex = 10000

// layout
$headerHeight = 80px
$contentWidth = 800px

// responsive breakpoints
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px

// code
// $lineNumbersWrapperWidth = 3.5rem
// $codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
